[submodule "lockserverapi"]
	path = LockServerAPI
	url = https://lockserverapi.scm.azurewebsites.net:443/lockserverapi.git
[submodule "locksingleboardcontroller"]
	path = LockSingleBoardController
	url = https://gitlab.com/Shushlayka2/locksingleboardcontroller.git
[submodule "LockWebSite"]
	path = LockWebSite
	url = https://gitlab.com/Shushlayka2/lockwebsite.git
